.Product {
  cursor: pointer;
}
.Product:hover {
  -webkit-box-shadow: -1px 4px 10px 10px rgba(0, 123, 255, 0.2);
  -moz-box-shadow: -1px 4px 10px 10px rgba(0, 123, 255, 0.2);
  box-shadow: -1px 4px 10px 10px rgba(0, 123, 255, 0.2);
}